<h2><%= t('edit_account') %></h2>

<%= devise_error_messages! %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.bootstrap_email_field :email, label: t('email'), autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('devise.waiting_for_confirmation_for_email', email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="field">
    <%= f.bootstrap_password_field :password, label: t('keep_empty_for_no_change'), autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.bootstrap_password_field :password_confirmation, label: t('confirm_password'), autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.bootstrap_password_field :current_password, label: t('to_confirm_we_need_your_password'), autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit t('save_changes'), class: 'btn btn-default' %>
  </div>
<% end %>

<h3><%= t('destroy_my_account') %></h3>

<p><%= t('unhappy') %>? <%= button_to t('destroy_my_account'), registration_path(resource_name), class: 'btn btn-default', data: { confirm: t('are_you_sure_destroy_account') }, method: :delete %></p>

<%= link_to t('back'), :back %>
