<%= form_for(@article) do |f| %>
    <%= errors_for @article %>

    <div class="field">
      <%= f.bootstrap_text_field :title %>
    </div>
    <div class="field">
      <%= f.bootstrap_text_field :subtitle %>
    </div>
    <div class="field">
      <%= f.bootstrap_text_area :content %>
    </div>
    <div class="checkbox">
      <label>
        <%= f.check_box(:published, checked: @article.published) %>
        Published
      </label>
    </div>
    <div class="checkbox">
      <label>
        <%= f.check_box(:featured, checked: @article.featured) %>
        Featured
      </label>
    </div>
    <div class="field">
      <%= f.bootstrap_text_field :meta_description %>
    </div>
    <div class="actions">
      <%= f.submit "Submit", class: 'btn btn-default' %>
    </div>
<% end %>
