<%= form_for(@article) do |f| %>
    <%= errors_for @article %>

    <div class="field">
      <%= f.bootstrap_text_field :title, label: t('title') %>
    </div>
    <div class="field">
      <%= f.bootstrap_text_field :subtitle, label: t('subtitle') %>
    </div>
    <div class="field">
      <%= f.bootstrap_text_area :content, label: t('content') %>
    </div>
    <div class="checkbox">
      <label>
        <%= f.check_box(:published, checked: @article.published) %>
        <%= t('published') %>
      </label>
    </div>
    <div class="checkbox">
      <label>
        <%= f.check_box(:featured, checked: @article.featured) %>
        <%= t('featured') %>
      </label>
    </div>
    <div class="field">
      <%= f.bootstrap_text_field :meta_description, label: t('meta_description') %>
    </div>
    <div class="actions">
      <%= f.submit t('submit'), class: 'btn btn-default' %>
    </div>
<% end %>
