<% breadcrumb :articles %>
<h1><%= t('articles') %></h1>

<%= link_to t('new_resource', resource: t('article')), new_article_path, class: 'btn btn-default' %>

<table class="table table-bordered">
  <tr>
    <th><%= t('title') %></th>
    <th><%= t('published') %></th>
    <th><%= t('featured') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.published %></td>
        <td><%= article.featured %></td>
        <td><%= link_to t('show'), article %></td>
        <td><%= link_to t('edit'), edit_article_path(article) %></td>
        <td><%= link_to t('destroy'), article, method: :delete, data: {confirm: t('are_you_sure')} %></td>
      </tr>
  <% end %>
</table>