<p id="notice"><%= notice %></p>

<p>
  <b><%= t('title') %>:</b>
  <%= @article.title %>
</p>

<p>
  <b><%= t('subtitle') %>:</b>
  <%= @article.subtitle %>
</p>

<p>
  <b><%= t('content') %>:</b>
  <%= raw @article.content %>
</p>

<p>
  <b><%= t('published') %>:</b>
  <%= @article.published %>
</p>

<p>
  <b><%= t('featured') %>:</b>
  <%= @article.featured %>
</p>

<p>
  <b><%= t('meta_description') %>:</b>
  <%= @article.meta_description %>
</p>

<%= link_to t('edit'), edit_article_path(@article), class: 'btn btn-default' %> |
<%= link_to t('back'), articles_path, class: 'btn btn-default' %>
