<h2>Bestätigungsmail erneut senden</h2>

<%= devise_error_messages! %>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.bootstrap_email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Bestätigungsmail jetzt senden", class: 'btn btn-default' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
