<div class="jumbotron">
  <%= make_mercury('jumbotron-minimum-simple') %>
  <%= make_mercury('jumbotron-simple-translated', type: :simple, i18n: true) %>
  <%= make_mercury('jumbotron-simple-h1_wrapper-translated', type: :simple, wrapper: :h1, i18n: true) %>
  <%= make_mercury('jumbotron-content-with-editor', type: :full) %>
  <%= make_mercury('jumbotron-snippet-example', type: :snippets) %>
  <%= make_mercury('jumbotron-image-min-requirements', type: :image, data: {height: '200', width: '400'}) %>
  <%= make_mercury('jumbotron-image-with-translation-and-', type: :image, i18n: true, width: '100%', height: 'auto', data: {height: '200', width: '400'}) %>
</div>