<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.bootstrap_text_field :email %>
    </div>

    <div class="field">
      <%= f.bootstrap_password_field :password %>
    </div>

    <div class="field">
      <%= f.bootstrap_password_field :password_confirmation %>
    </div>
    <div>
      <%= f.label :roles %> <br>
      <% for role in Role.all.sort %>
          <div class="checkbox">
            <label>
              <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
              <%= role.name %>
            </label>
          </div>
          <br>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "Button", class: 'btn btn-default' %>
    </div>
<% end %>
