<%= form_for(@user) do |f| %>
    <%= errors_for @user %>

    <div class="field">
      <%= f.bootstrap_text_field :email %>
    </div>

    <div class="field">
      <%= f.bootstrap_password_field :password %>
    </div>

    <div class="field">
      <%= f.bootstrap_password_field :password_confirmation %>
    </div>
    <div>
      <%= f.label :roles %> <br>
      <% for role in Role.all.sort %>
          <div class="checkbox">
            <label>
              <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
              <%= role.name %>
            </label>
          </div>
          <br>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "Button", class: 'btn btn-default' %>
    </div>
<% end %>
