<!DOCTYPE html>
<html>
<head>
  <title>Site</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= display_meta_tags %>
</head>
<body>

<div class="container">
  <%= render partial: 'partials/errors' %>
  <%= render partial: 'navigation/language_menu' %>
  <%= render partial: 'navigation/user_menu' %>
  <%= render partial: 'navigation/main_menu' %>
  <%= breadcrumbs separator: " &rsaquo; ", display_single_fragment: true %>
  <%= yield %>
</div>

<script type="text/javascript" charset="utf-8">
    $(window).on('mercury:ready', function () {
        Mercury.saveUrl = '/mercury_update';
    });

    $(window).bind('mercury:saved', function() {
        window.location = window.location.href.replace(/\/editor\//i, '/');
    });
</script>

</body>
</html>
